doctype html
html
  head
    style
      include displayPage.css
    title="SAS Student Portal"
    h2= title
  header(id='navHeader')
  body
 
    h2(class='w3-center')=subject
    div(class='links_display')
      div(id='links')
        h5 Links:
        each elem in links
          a(href='/SITES/'+elem.link+'/index.html' class="link")= elem.link
      div(id='descriptions')
        h5 Description:
        each elem in links
          a(href='/SITES/'+elem.link+'/index.html' class="link")= elem.description
      div(id='due_dates')
        h5 Due Date:
        each elem in links
          a(href='/SITES/'+elem.link+'/index.html' class="link")= elem.dueDate
    script
      include ../JS_Libraries/jquery-3.2.1.min.js
      include ../JS_Libraries/tether.min.js
      include ../JS_Libraries/bootstrap.min.js
      include ../JS_Libraries/schoolhouse.js